<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div th:replace="client/fragments/header :: header"></div>
<!--<div th:replace="fragments/index-banner :: index-banner"> </div>-->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m3">
                <section class="card">
                    <div class="card-title">
                        <div class="page-header">
                            <a href="#">Фильтр</a>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="input-field filter-item">
                            <select>
                                <option value="" disabled selected>Я люблю</option>
                                <option value="1">Пиво</option>
                                <option value="2">Орехи</option>
                                <option value="3">Женщин</option>
                            </select>
                            <label>Направление</label>
                        </div>

                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Я не люблю</option>
                                <option value="1">Пиво</option>
                                <option value="2">Орехи</option>
                                <option value="3">Женщин</option>
                            </select>
                            <label>Направление</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#"> Поиск</a>
                    </div>
                </section>
            </div>
            <div class="col s12 m9">
                <section class="card">
                    <div class="card-title">
                        <div class="page-header">
                            <a href="#">Поездки</a>
                        </div>
                    </div>
                    <div class="col s12" th:each="tour,iterStat : ${tours}" th:remove="tag">
                        <article th:replace="client/fragments/tour-card :: tour-card"></article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div th:replace="client/fragments/footer :: footer"></div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

</body>
</html>
