<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Добавить тур</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<style>
    .bar {
        height: 18px;
        background: green;
    }
</style>
<body>
<div th:replace="agent/fragments/header :: header"></div>
<div class="container">
    <div class="section">
        <div class="row">
            <h1>Добавить Тур | Шаг 1 - основная информация</h1>

            <form class="col s12" action="#" th:action="@{/agent_interface/add_tour/}" th:object="${tourForm}"
                  method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Название тура" id="first_name" type="text" class="validate"
                               th:field="*{name}">

                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                        <label for="first_name">Название тура</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Вид активности" id="activity" type="text" class="validate"
                               th:field="*{activity}">

                        <div th:if="${#fields.hasErrors('activity')}" th:errors="*{activity}">Activity Error</div>
                        <label for="activity">Вид активности</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Стоимость" id="price" type="number" class="validate"
                               th:field="*{price}">

                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Activity Error</div>
                        <label for="price">Стоимость</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Дата начала поездки" id="startDate" type="date" class="datepicker">
                        <label for="price">Дата начала поездки</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Дата окончания поездки" id="endDate" type="date" class="datepicker">
                        <label for="price">Дата окончания поездки</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea"
                                  th:field="*{description}"></textarea>

                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Activity Error</div>
                        <label for="description">Описание поездки</label>
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Далее</button>
            </form>
            <a th:href="@{/agent_interface/}" class="waves-effect waves-light btn">Назад</a>

        </div>
    </div>
</div>


<!--<div th:replace="fragments/footer :: footer"></div>-->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>
</body>
</html>
