<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div th:replace="agent/fragments/header :: header"></div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <section class="card">
                    <div class="card-content">
                        <div class="card-title">
                            Туры
                        </div>
                        <table class="striped bordered">
                            <thead>
                            <tr>
                                <td>Название</td>
                                <td>Начало</td>
                                <td>Конец</td>
                                <td>Организатор</td>
                                <td>todo: remove</td>
                                <td>Редактировать</td>
                            </tr>
                            </thead>
                            <tr th:each="tour,iterStat : ${tours}">
                                <td th:text="${tour.name}"></td>
                                <td th:text="${tour.startDate}"></td>
                                <td th:text="${tour.endDate}"></td>
                                <td th:text="${tour.agent.name}"></td>
                                <td th:text="${tour.mainImageUrl}"></td>
                                <td>
                                    <a th:href="@{/agent_interface/add_tour_image/{tourId}(tourId=${tour.id})}">Изображение</a>
                                </td>

                            </tr>
                        </table>
                        <br>
                        <div class="right-align">
                            <a th:href="@{/agent_interface/add_tour/}" class="waves-effect waves-light btn">Добавить Тур</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <section class="card">
                    <div class="card-content">
                        <div class="card-title">
                            Купоны
                        </div>
                        <div th:each="mapEntry: ${couponMap}">
                            <div th:if="${not #lists.isEmpty(mapEntry.value)}">
                                <h3 th:text="${mapEntry.key}">No Id!</h3>
                                <table class="bordered highlight">
                                    <thead>
                                    <tr>
                                        <td>userId</td>
                                        <td>Код купона</td>
                                    </tr>
                                    </thead>
                                    <tr th:each="coupon, iterStat : ${mapEntry.value}">
                                        <td th:text="${coupon.userId}"></td>
                                        <td th:text="${coupon.code}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!--<div th:replace="fragments/footer :: footer"></div>-->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
