<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <div>
                        <i class="material-icons large error red-text">error</i>
                    </div>
                    <h1>Произошла ошибка</h1>
                </div>
            </div>
        </div>
    </div>

</body>
</html>